<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.71.0.0" targetFramework="native" />
  <package id="mysql-connector-cpp-jdbc-vc15" version="1.1.0" targetFramework="native" />
  <package id="NuGet.CommandLine" version="6.0.5" targetFramework="native" developmentDependency="true" />
  <package id="PLplot" version="5.13.7" />
</packages>